<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="commercesearchitemtype" returnType="text">Sitecore.Support.Commerce.Engine.Connect.Search.ComputedFields.CommerceSearchItemTypeField, Sitecore.Support.410646</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <commerceEngineConnector>
      <types>
        <type name="ICommerceSearchManager" type="Sitecore.Support.Commerce.Engine.Connect.Search.CommerceSearchManager, Sitecore.Support.410646" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.CommerceSearchManager, Sitecore.Commerce.Engine.Connect']" />
      </types>
    </commerceEngineConnector>
  </sitecore>
</configuration>